@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.gme-datepicker {
  .react-datepicker {
    border: none;
    width: 100%;
  }

  .react-datepicker__month-container {
    width: 100%;
  }

  .react-datepicker__day-names {
    display: flex;
    justify-content: space-evenly;
  }

  .react-datepicker__week {
    display: flex;
    justify-content: space-between;
  }

  .react-datepicker__day-name {
    font-weight: 600;
  }

  .react-datepicker__day {
    font-weight: 300;
  }

  .react-datepicker__current-month {
    font-size: 18px;
    color: #444;
    font-weight: 500;
    padding: 16px 0;
  }

  .react-datepicker__navigation {
    top: 26px;

    .react-datepicker__navigation-icon::before {
      border-color: #249690;
    }
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 3.2rem;
    line-height: 3.2rem;
    margin: 6px;
    font-size: 20px;
    color: #444;
  }

  .react-datepicker__header {
    background: white;
    border: none;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #249690;
    color: white;

    &:hover {
      background-color: #4a9ea0;
    }
  }
}

.gme-timepicker {
  .react-datepicker__time-container,
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box {
    width: 144px;
  }

  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #249690;

    &:hover {
      background-color: #249690;
    }
  }
}
